[Unit]
Description=uWSGI items rest

[Service]
Environment=DATABASE_URL=postgresql://johndoe:<johndoe_postgres_password>@localhost:5432/johndoe
ExecStart=/var/www/html/items-rest/venv/bin/uwsgi --master --emperor /var/www/html/items-rest/uwsgi.ini --die-on-term --uid johndoe --gid johndoe --logto /var/www/html/items-rest/log/emperor.log
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target